# Folder environment (JANGAN DI-UPLOAD)
venv/
.venv/
__pycache__/

# File sensitif berisi API Key (JANGAN DI-UPLOAD)
.env

# File konfigurasi sistem & IDE
.DS_Store
.vscode/
*.pyc

# Folder hasil build/dist (opsional)
dist/
build/